body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.input-area {
  position: absolute;
  bottom: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.input-area input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.input-area button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #ff6b81;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.input-area button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.name-input-screen {
  height: 100vh;
  background: linear-gradient(to bottom, #fceabb, #f8b500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name-input-screen h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.name-input-screen input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
.name-input-screen button {
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
  background-color: #ff6b81;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}